* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181616;
}

nav {
  width: 70px;
  height: 450px;
  background: #1b1a1a;
  text-align: center;
  border-radius: 10px;
  transition: 0.4s;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.1),
    inset 3px 3px 8px rgba(255, 255, 255, 0.1);
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: white;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
}

nav li:hover {
  color: rgb(16, 231, 231);
  transform: scale(1.2);
  opacity: 1;
}

nav .brand {
  font-size: 28px;
  color: rgb(16, 231, 231);
  margin-top: 30px;
}

nav li i {
  position: absolute;

  font-size: 24px;
  transition: 0.4s;
}

nav li a {
  position: absolute;

  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0;
  transition: 0.4s;
}

nav label {
  cursor: pointer;
  color: white;
  background: #1b1a1a;
  width: 40px;
  height: 40px;
  padding: 6px 18px;
  border-radius: 50%;
  transform: translate(35px, 8px);
  transition: 0.4s;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

nav label:hover {
  color: rgb(16, 231, 231);
}

input:checked ~ nav {
  width: 180px;
}

input:checked ~ nav label {
  transform: translateX(90px) translateY(8px) rotate(180deg);
  padding-left: 10px;
  border-right: 0px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

input:checked ~ nav li i {
  padding-right: 100px;
}

input:checked ~ nav li a {
  opacity: 1;
  padding-left: 40px;
}

input {
  display: none;
}
